<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<header>
    <nav class="main-nav">
        <a th:href="@{/}"><img src="/images/d3bcf019051f0df15b1a8ab4a12934df--logo-s-logo-branding.jpg"
                               class="logo"></a>

        <div class="nav-links">

            <ul>

                <th:block>

                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a th:href="@{/about}">About</a>
                    </li>

                </th:block>

                <th:block sec:authorize="hasRole('ADMIN')">
                    <li>
<!--                    <li><a href="/">Admin</a></li>-->
                    <li><a th:href="@{/series/add}">Add Series</a></li>
                    <li><a th:href="@{/movies/add}">Add Movie</a></li>
                    <li><a th:href="@{/admin/users/all}">All Users</a></li>
                    </li>
                </th:block>


                <th:block sec:authorize="!isAuthenticated()">
                    <li>
                        <a th:href="@{/users/login}">Login</a>
                    </li>

                    <li>
                        <a th:href="@{/users/register}">Register</a>
                    </li>

                </th:block>


                <th:block sec:authorize="isAuthenticated()">
                    <li>
                        <a th:href="@{/series/all}">Series</a>
                    </li>

                    <li>
                        <a th:href="@{/movies/all}">Movies</a>
                    </li>

                    <li>
                        <a th:href="@{/myList}">My List</a>
                    </li>

                    <li>
                        <a href="/">New and Popular</a>
                    </li>

                    <!--      <li>-->
                    <!--        <a th:href="@{/contactUs}">Contact us</a>-->
                    <!--      </li>-->

                    <li>
                        <a href="/">Browse by Languages</a>
                    </li>

                    <li>
                        <a th:href="@{/profile}">Profile</a>
                    </li>

                    <li>
                        <a>
                            <form th:action="@{/users/logout}"
                                  method="POST">
                                <button type="submit">Logout</button>
                            </form>
                        </a>
                    </li>
                </th:block>


            </ul>
        </div>

    </nav>
</header>
</html>