<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MovieTime</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

</head>

<body class="no-permission-p">

<div th:replace="fragments/header :: header"></div>
<main>

    <div class="container bg-blur text-center rounded mt-5" style="width: fit-content">
        <div class="card" >
            <div class="text-emoji">🛑 Error 403 🛑</div>
            <h5 class="text">
                🛑️ Sorry , but you don't have the right permissions to go there! 🛑
            </h5>
        </div>
    </div>

</main>
<footer></footer>
</body>
</html>
