<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MovieTime</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>
<div class="all-series">

    <div th:replace="fragments/header :: header"></div>

    <h2 class="upload-text">Upload Series</h2>
    <div class="add-series">

        <form th:action="@{/series/add}"
              th:method="POST"
              th:object="${addSeriesModel}"
              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

            <div class="row">

                <div class="form-group col-md-6 mb-3">
                    <label for="name" class="text-white font-weight-bold"></label>
                    <input id="name"
                           th:field="*{name}"
                           class="form-control"
                           placeholder="Name" required minlength="2" maxlength="1000"/>

                    <p th:if="${#fields.hasErrors('name')}"
                       class="error-message">
                        Invalid Name.
                    </p>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="description" class="text-white font-weight-bold"></label>
                    <input id="description"
                           th:field="*{description}"
                           class="form-control"
                           placeholder="Description" required minlength="10" maxlength="1000000"/>

                    <p th:if="${#fields.hasErrors('description')}"
                       class="error-message">
                        Invalid Description.
                    </p>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-6 mb-3">
                    <label for="releasedYear" class="text-white font-weight-bold"></label>
                    <input
                            id="releasedYear"
                            th:field="*{releasedYear}"
                            type="number"
                            step="1"
                            class="form-control"
                            placeholder="Released Year" required/>

                    <p th:if="${#fields.hasErrors('releasedYear')}"
                       class="error-message">
                        Invalid Released Year.
                    </p>
                </div>

                <div class="form-group">
                    <!--                            type="text"  НЕ СЪМ СИГУРНА ДАЛИ ТРЯБВА ДА Е TEXT-->
                    <label class="text-white font-weight-bold" for="videoURL"></label>
                    <input id="videoURL"
                           th:field="*{videoURL}"
                           type="text"
                           class="form-control"
                           placeholder="Video URL" required/>

                    <p th:if="${#fields.hasErrors('videoURL')}"
                       class="error-message">
                        Invalid Video URL.
                    </p>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-6 mb-3">
                    <label for="language" class="text-white font-weight-bold"></label>
                    <input id="language"
                           th:field="*{language}"
                           class="form-control"
                           placeholder="Language" required minlength="5" maxlength="1000"/>

                    <p th:if="${#fields.hasErrors('language')}"
                       class="error-message">
                        Invalid language.
                    </p>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="episodes" class="text-white font-weight-bold"></label>
                    <input id="episodes"
                           th:field="*{episodes}"
                           class="form-control"
                           placeholder="Episodes" required/>

                    <p th:if="${#fields.hasErrors('episodes')}"
                       class="error-message">
                        Invalid number of episodes.
                    </p>
                </div>

            </div>

            <div class="row">

                <div class="form-group">
                    <label class="text-white font-weight-bold" for="imageUrl"></label>
                    <input id="imageUrl"
                           th:field="*{imageUrl}"
                           type="url"
                           class="form-control"
                           placeholder="Image URL" required/>

                    <p th:if="${#fields.hasErrors('imageUrl')}"
                       class="error-message">
                        Invalid Image URL.
                    </p>
                </div>

                <div class="form-group">
                    <div class="genre-checkboxes">
<!--                        <label for="genres">Genres</label>-->
                        <label><h2>Genres</h2></label>
                        <br>
                        <div class="g" th:each="genre : ${genres}">
                            <input id="genres" name="genres" type="checkbox"
                                   th:field="*{genres}" th:value="${genre}" th:text="${genre}">
                        </div>
                    </div>
                </div>

            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Submit Series"/>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>

</body>
</html>