<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MovieTime</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>
<div class="all-series">

    <div th:replace="fragments/header :: header"></div>

    <div th:if="${successMessage}">
        <p class="success-message" th:text="${successMessage}"></p>
    </div>

    <div class="series"
         th:each="s: ${series}"
         th:object="${s}">

        <div class="card-img-top-wrapper">
            <img class="card-img-top" th:src="*{imageURL}" alt="Series image">
        </div>

        <ul class="series-details list-group list-group-flush">
            <li class="list-group-item">
                <div class="card-text"> Name:
                    <th:block th:text="*{name}"></th:block>
                </div>
                <div class="card-text">Released Year:
                    <th:block th:text="*{releasedYear}"></th:block>
                </div>
                <div class="card-text">Language:
                    <th:block th:text="*{language}"></th:block>
                </div>
                <div class="card-text">Episodes:
                    <th:block th:text="*{episodes}"></th:block>
                </div>
            </li>
        </ul>

        <div class="card-body">
            <a class="details-button" th:href="@{/series/{seriesId}(seriesId=*{id})}">Details</a>
        </div>

        <div class="card-body">
            <form
                    th:action="@{/series/delete/{id}(id=*{id})}"
                    th:method="delete">
                <input class="delete-button" type="submit" value="Delete"
                       th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            </form>
        </div>

        <div class="card-body">
            <a class="edit-button" th:href="@{/series/{id}/edit(id=*{id})}"
               th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                Edit
            </a>
        </div>

        <div class="card-body">
            <form th:action="@{/myList/add-series/{id}(id=*{id})}" th:method="post">
                <button class="add-to-my-list-button" type="submit">Add to My List</button>
            </form>
        </div>



    </div>
</div>
</body>
</html>