<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MovieTime</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>

<body class="profile-p">

<div th:replace="fragments/header :: header"></div>

<div class="form">

    <h1>Edit Profile Page</h1>
    <form th:action="@{/profile/edit}" th:object="${user}" th:method="POST">
        <p>
            <label>First Name: <span th:text="${user.firstName}"></span></label>
        </p>
        <p>
            <label>Last Name: <span th:text="${user.lastName}"></span></label>
        </p>
        <p>
            <label>Username: <input type="text" th:field="*{username}"/></label>
        </p>
        <p>
            <label>Email: <input type="email" th:field="*{email}"/></label>
        </p>

        <button class="save-button" type="submit">Save</button>
    </form>
</div>
</body>

</html>