<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MovieTime</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

</head>

<body class="home-p">

<div class="wrapper">

    <div th:replace="fragments/header :: header"></div>

            <div class="text-box">
                <h1>Welcome to MovieTime</h1>
                <p>Sit back,relax and enjoy our movies.</p>
               <br>

            </div>

    <div th:if="${successMessage}">
        <p class="success-message" th:text="${successMessage}"></p>
    </div>

</div>

</body>

</html>
